/* CSS declarations go here */
body {
  background-color: #94CCB9 !important;
}

.accounts {
  text-align: right;
}

input#title {
  width: 100%;
  height: 35px;
  font-size: 20px;
  margin-bottom: 20px;
}

.lecture-title {
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}

.lecture-title-show {
  text-align: center;
  font-size: 30px;
  margin-bottom: 40px;
}

.fa-arrow-circle-o-left {
  font-size: 30px;
}

#demo {
  text-align: center;
}

.note-editable {
  background-color: #fff;
}
.logo {
  display: inline;
  float: left;
}
.presentation {
  font-size: 18px;
}
