<head>
  <title>Education</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
  <link rel='stylesheet' href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css'>
  <link rel='stylesheet' href='edu.css' />

  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

  <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>

<body>
  <div  class='container'>
    {{> main}}
  </div>
</body>

<template name='main'>
  <div class='row'>
    <div class='col-lg-4'>
      <img class='logo' src='https://www.mdpi.com/img/journals/cells-logo.png'>
    </div>
    {{> accounts}}
  </div>
  <div class='row'>
    <div class='col-lg-12'>
    {{#if currentUser}}
      {{#if admin}}
        <div class='row'>
          {{> newLecture}}
        </div>
      {{/if}}
      <div class='row'>
      {{#if readLecture}}
        <div class='col-lg-12'>
          {{> lecture}}
          <div class='row'>
            <div class='col-lg-8 col-lg-offset-2'>
              {{#if admin}}
                {{> quizBuilder}}
              {{else}}
                {{> quizSolver}}
              {{/if}}
            </div>
          </div>
        </div>
      {{else}}
        {{> listLectures}}
      {{/if}}
      </div>
    {{else}}
      {{> presentation}}
    {{/if}}
    </div>
  </div>
</template>

<template name='accounts'>
  <div class='col-lg-4 col-lg-offset-4 accounts'>
    {{#if currentUser}}
      {{> signout}}
    {{else}}
      {{#if signupTemplate}}
        {{> signup}}
      {{else}}
        {{> signin}}
      {{/if}}
    {{/if}}
  </div>
</template>

<template name='signin'>
  <form id='signInForm'>
    <label for='email'>Email</label>
    <input type='email' id='email' /><br />

    <label for='password'>Parola</label>
    <input type='password' id='password' /><br />

    <input type='submit' value='Signin' class='btn btn-success' />
  </form>

  <input type='submit' class='changepassword btn-primary btn' value='Change Password' />
  <input type='submit' class='signup btn btn-primary' value='Signup' />
</template>

<template name='signup'>
  <form id='signUpForm'>
    <label for='email'>Email</label>
    <input type='email' id='email' /><br />

    <label for='password'>Parola</label>
    <input type='password' id='password' /><br />

    <label for='name'>Nume</label>
    <input type='text' id='name' /><br />

    <label for='class'>Clasa</label>
    <input type='text' id='class' /><br />

    <input type='submit' value='Signup' class='signup btn btn-success'/>
  </form>
</template>

<template name='signout'>
  <input type='submit' value='Signout' class='btn btn-alert'/>
</template>

<template name='changePassword'>
  <form id='changePasswordForm'>
    <label for='email'>Email</label>
    <input type='email' id='name' /><br />

    <input type='submit' class='changepassword' value='Change Password' />
  </form>
</template>

<template name='newLecture'>
  <link rel='stylesheet' href='summernote.css'>
  <script src='summernote.min.js'></script>

  <div class='row'>
    <div class='col-lg-6 col-lg-offset-3'>
      <input type='text' id='title' placeholder='Titlu lectie'/>
    </div>
    <button type='button' class='btn btn-primary' id='save'>Salveaza lectia</button>
  </div>
  <div class='row'>
    <div id="summernote">Lectie</div>
  </div>
  <hr>
</template>

<template name='listLectures'>
  {{#each lectures}}
    <div class='row lecture-title'>
      {{> title}}
      {{#if admin}}
        <i class='fa fa-eraser'></i>
      {{/if}}
    </div>
  {{/each}}
</template>

<template name='title'>
  <span>{{title}}</span>
</template>

<template name='lecture'>
  <i class='fa fa-arrow-circle-o-left'></i>
  {{#each lecture}}
    <div class='row'>
      <div class='col-lg-4 col-lg-offset-4 lecture-title-show'>
        {{title}}
      </div>
    </div>
    <div class='row'>
      <div class='col-lg-10 col-lg-offset-1'>
        {{{content}}}
      </div>
    </div>
  {{/each}}
</template>

<template name='quizBuilder'>
  <script src='jquery.quizbuilder.js'></script>
  <div id="demo" data-quiz="auto">
    <a href="#" class="quiz-new-text btn btn-default">Intrebare simpla</a>
    <a href="#" class="quiz-new-radios btn btn-default">Optiuni multiple &ndash; Un singur raspuns</a>
    <a href="#" class="quiz-new-checkboxes btn btn-default">Optiuni multiple &ndash; Raspunsuri multiple</a>
    <hr>

    <div class="quiz-text template question col-lg-6 col-lg-offset-3" style="display: none">
      <div class="question-content row">
        <textarea class="input form-control" placeholder='Intrebare' rows='1'></textarea>

        <div class="option">
          <div class="option-content">
            <textarea class='form-control' placeholder='Raspuns'></textarea>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="alignright">
          <a href="#" class="delete"><i class='fa fa-minus'></i></a>
        </div>
      </div>
    </div>

    <div class="quiz-radios template question col-lg-6 col-lg-offset-3" style="display: none">
      <div class="question-content row">
        <textarea class="input form-control" placeholder='Intrebare'></textarea>

        <div class="option row">
          <div class="option-validation col-lg-1">
            <input name="unique" type="radio">
          </div>

          <div class="option-content col-lg-10">
            <textarea class='form-control' placeholder='Raspuns'></textarea>
          </div>

          <div class="col-lg-1">
            <a href="#" class="remove"><i class='fa fa-minus'></i></a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <a href="#" class="add"><i class='fa fa-plus'></i> Adauga optiune</a>
        </div>
        <div class="col-lg-6">
          <a href="#" class="delete"><i class='fa fa-minus'></i> Sterge optiune</a>
        </div>
      </div>
    </div>

    <div class="quiz-checkboxes template question col-lg-6 col-lg-offset-3" style="display: none">
      <div class="question-content row">
        <textarea class="input form-control" placeholder='Intrebare'></textarea>

        <div class="option row">
          <div class="option-validation col-lg-1">
            <input type="checkbox">
          </div>
          <div class="option-content col-lg-9">
            <textarea placeholder='Raspuns' class='form-control'></textarea>
          </div>
          <div class="col-lg-2">
            <a href="#" class="remove"><i class='fa fa-minus'></i></a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <a href="#" class="add"><i class='fa fa-plus'></i> Adauga optiune</a>
        </div>
        <div class="col-lg-6">
          <a href="#" class="delete"><i class='fa fa-minus'></i> Sterge optiune</a>
        </div>
      </div>
    </div>
    <button type='button' class='btn btn-primary'>Salveaza</button>
  </div>
</template>

<template name='quizSolver'>
  {{#each question}}
    <div class='row'>
        <div class='col-lg-6 col-lg-offset-3'>
            <h4>{{content}}</h4>
            {{#if text}}
              <div id="{{content}}">
                {{> text}}
              </div>
            {{/if}}
            {{#if radios}}
              {{> radio}}
            {{/if}}
            {{#if checkboxes}}
              {{> checkbox}}
            {{/if}}
        </div>
    </div>
    <div class='row'>
        <div class='col-lg-3 col-lg-offset-5'>
            {{#if correct}}
                {{> correctAnswer}}
            {{/if}}

            <button type='button' class='btn btn-primary'>Salveaza</button>
        </div>
    </div>
  {{/each}}
</template>

<template name='text'>
  <textarea placeholder='Answer' class='form-control'></textarea>
</template>

<template name='radio'>
  {{#each options}}
    <input type='radio' name='unique' class='form-control'/>
    <span>{{content}}</span>
  {{/each}}
</template>

<template name='checkbox'>
  {{#each options}}
    <input type='checkbox' name='unique' class='form-control' />
    <span>{{content}}</span>
  {{/each}}
</template>

<template name='users'>
  {{#each users}}
    <div class='row'>
      {{profile.name}}
      {{#if profile.admin}}
        <span> - admin </span>
      {{/if}}
    </div>
  {{/each}}
</template>

<template name='presentation'>
  <div class='presentation col-lg-8 col-lg-offset-2'>
    <p>Acest proiect vine in ajutor profesorilor de biologie, avand utilitatie necesare predarii si evaluarii unui elev</p>
    <p>Proiectul a fost creat de:
      <ul>
        <li>Dan Roman</li>
        <li>Calin Salagean</li>
      </ul>
    </p>
  </div>
</template>

<template name='correctAnswer'>
    {{#if correct}}
    <p class='bg-success'>Corect</p>
    {{else}}
    <p class='bg-danger'>Gresit</p>
    {{/if}}
    <h1>test</h1>
</template>
